/* Fonts */
@font-face {
    font-family: 'Italianno';
    src: url('./assets/Italianno-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}
/* Body styles */
body {
    background-color:  #FDEBD0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
/* Headings */
h1 {
    color: white;
    text-align: center;
    font-family: Italianno;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    font-size: 45px;
    margin: 15px;
    flex: 1;
}

h2 {
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    font-family: Italianno;
    font-size: 45px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Paragraph styling */
p {
    font-family: Palatino, serif;
    padding: 1rem;
}
/* Image styling */
img {
    width: 45rem;
    height: 30rem;
    border-radius: 10px;
}
/* Div styling */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header styling */
header {
    background-color: #C0392B;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8rem;
    gap: 65%;
    width: 100%;
}
/* Navigation styling */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
    width: 90%;
}

li {
    list-style-type: none;
    text-align: center;
}

nav a {
    margin: 0.05rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
}

a:hover {
    color: #F4D03F;
}
/* Content container styling */
#content {
    flex: 1;
    width: 100%;
}
/* Hero section styling */
#hero {
    height: 40rem;
    width: 150%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hero-text {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    text-align: center;
    width: 60rem;
    font-size: larger;
    line-height: 1.6;
    padding: 2rem;
    font-weight: 500;
    
}
/* Menu styling */
#menu-list {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10rem;
}

#food-desc {
    width: 50rem;
    padding: 5px;
}

span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

input {
    margin: 1.5rem;
    width: 20rem;
    padding: 1rem;
}

textarea {
    margin: 20px;
    padding: 1rem;
    width: 20rem;
}
/* Consistent styling for all buttons */
.button {
    background-color: lightgray;
    text-align: center;
    margin: 2rem;
    padding: 8px;
    border-radius: 10px;
    border: none;
    width: 110px;
}
/* Footer styling */
footer {
    background-color: #C0392B;
    color: white;
    text-align: center;
    margin-top: auto;
    width: 100%;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


