@font-face {
    font-family: 'Italianno';
    src: url('./assets/Italianno-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

h1 {
    color: white;
    text-align: center;
    font-family: Italianno;
    font-size: 45px;
    margin: 15px;
    flex: 1;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #C0392B;
    display: flex;
    flex-direction: row;
    gap: 65%;
    height: 8rem;
}

#content {
    flex: 1;
}

#hero {
    height: 40rem;
    width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hero-text {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 60rem;
    font-size: larger;
    padding: 2rem;
    
}

#menulist {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
}

input {
    margin: 1.5rem;
}


#submitbutton {
    background-color: lightgray;
    text-align: center;
    margin: 2rem;
    padding: 0.5rem;
}

h2 {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 45rem;
    height: 30rem;
}

p {
    font-family: Palatino, serif;
}

body {
    background-color:  #FDEBD0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
}

li {
    list-style-type: none;
    text-align: center;
}

nav a {
    margin: 0.05rem;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
}

a:hover {
    color: #F4D03F;
}

footer {
    background-color: #C0392B;
    color: white;
    text-align: center;
    margin-top: auto;
    width: 100%;
}


