h1 {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5rem;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
}

#content {
    flex: 1;
}

#intro {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

#introductiontext {
    text-align: center;
    width: 80rem;
    font-size: larger;
}

#menulist {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
}

input {
    margin: 1.5rem;
}


#submitbutton {
    background-color: lightgray;
    text-align: center;
    margin: 2rem;
    padding: 0.5rem;
}

h2 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 45rem;
    height: 30rem;
}

p {
    font-family: Palatino, serif;
}

body {
    background-image: url('https://images.unsplash.com/photo-1498579150354-977475b7ea0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

li {
    list-style-type: none;
    text-align: center;
}

nav a {
    margin: 0.05rem;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
}

a:hover {
    background-color: green;
}

footer {
    background-color: white;
    text-align: center;
    margin-top: auto;
    width: 100%;
}


